!**/external/*
*.cache
*.dll
*.pdb
*.exe
*.vspscc
*.user
*.nupkg
*.suo
*.FileListAbsolute.txt
*/packages/*
**/packages/*
*/.nuget/*
**/bin/*
**/obj/*
obj/
.vs/
**/Debug/*
$tf
log.txt
*.vssscc
UpgradeLog.htm
*.zip
*.user
*.swo
**/*.swp
**/*.swj
**/*.swk
**/*.swl
!**/BusinessProcesses/ui.swl/
**/*.swm
**/*.swn
MetroDemo*
MahApps*
SID_NEXT_MahApps*
!external/
